@import 'tailwindcss';

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --font-serif: Georgia, serif;
}

@layer base {
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    line-height: 1.4;
    font-size: 13px;
  }
  
  a {
    color: #0000EE;
    text-decoration: underline;
  }
  
  a:visited {
    color: #551A8B;
  }
  
  hr {
    border: none;
    border-top: 1px solid black;
    margin: 1em 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
}
